# ========================================
# PyIncorp: Git Ignore Definitions
# ========================================

# 1. Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# 2. Virtual Environments
venv/
.venv/
env/
.env

# 3. PyCharm & IDE Settings
.idea/
.vscode/
*.swp
*.swo

# 4. Testing & Coverage
.pytest_cache/
.tox/
.coverage
htmlcov/
tests/public/api/real

# 5. Build Artifacts & Packaging
build/
dist/
*.egg-info/
pyincorp.egg-info/

# 7. OS Specific Files
.DS_Store
Thumbs.db

# Incorporator Log Files
*.log

# Temporary ETL JSON Feeds
temp_*.json
final_*.json
*website_feed.json

# Private Developer Scripts
real_*.py